<a href="https://colab.research.google.com/github/wcj365/word-count/blob/master/wordcount_pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple Word Count Program

In [0]:
import os
import pandas as pd

FILE = "hamlet.txt"

In [0]:
# Create a sameple data file

with open(FILE, "w") as file:   # "w" = write
    file.write("To be or\n")            # "\n" = new line
    file.write("Not to be")

In [39]:
# Read the lines from the file

with open(FILE, "r") as file:   # "r" = read
    lines = file.readlines()

print(lines)

['To be or\n', 'Not to be']

In [40]:
# Split the lines into lower-case words 

words = []

for line in lines:
    line = line.rstrip("\n")            # remove the extra "\n"  
    for word in line.split(" "):        # space delimited
        words.append(word.lower())      # lower-case

words

['to', 'be', 'or', 'not', 'to', 'be']

In [41]:
# Approach 1 - Does not work 
# Convert the list to a Pandas Data Frame

df = pd.DataFrame(words,columns=["Word"])
df

  Word
0   to
1   be
2   or
3  not
4   to
5   be

In [42]:
# This identifies unique words but does not give us counts

df2 = df.groupby(["Word"]).count()
df2

Empty DataFrame
Columns: []
Index: [be, not, or, to]

In [0]:
# Delete the file

os.remove(FILE)