<a href="https://colab.research.google.com/github/wcj365/word-count/blob/master/wordcount_pandas_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple Word Count Program
## Use Pandas

In [0]:
import os
import pandas as pd

FILE = "hamlet.txt"

In [0]:
# Create a sameple data file

with open(FILE, "w") as file:   # "w" = write
    file.write("To be or\n")            # "\n" = new line
    file.write("Not to be")

In [52]:
# Read the lines from the file

with open(FILE, "r") as file:   # "r" = read
    lines = file.readlines()

print(lines)

['To be or\n', 'Not to be']

In [53]:
# Split the lines into lower-case words 
# Add the initial count so that we can use Pandas groupby

words = []

for line in lines:
    line = line.rstrip("\n")            # remove the extra "\n"  
    for word in line.split(" "):        # space delimited
        words.append([word.lower(),1])  # lower-case, add the inital count

words

[['to', 1], ['be', 1], ['or', 1], ['not', 1], ['to', 1], ['be', 1]]

In [54]:
# Perform word count

df2 = df.groupby(["Word"]).count()
df2

      Count
Word
be        2
not       1
or        1
to        2

In [0]:
# Delete the file

os.remove(FILE)